<ion-view title="Garlicky Appetizer Shrimp Scampi" id="page17" style="background-color:#ECECEC;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/hdkORWj6RleUJjzwGvBy_GarlickyAppetizerShrimpScampi.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="garlickyAppetizerShrimpScampi-heading13" style="color:#2E2E2E;font-weight:400;">Ingredients</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <div class="item item-body" id="garlickyAppetizerShrimpScampi-list-item-container11">
      <div id="garlickyAppetizerShrimpScampi-markdown10" class="show-list-numbers-and-dots">
        <ol>
          <li>
            <p style="margin-top:0px;color:#000000;">6 tablespoons unsalted butter, softened</p>
          </li>
          <li>
            <p style="color:#000000;">1/4 cup olive oil</p>
          </li>
          <li>
            <p style="color:#000000;">1 tablespoon minced garlic</p>
          </li>
          <li>
            <p style="color:#000000;">1 tablespoon minced shallots</p>
          </li>
          <li>
            <p style="color:#000000;">2 tablespoons minced fresh chives</p>
          </li>
          <li>
            <p style="color:#000000;">salt and freshly ground black pepper to taste</p>
          </li>
          <li>
            <p style="color:#000000;">1/2 teaspoon paprika</p>
          </li>
          <li>
            <p style="color:#000000;">2 pounds large shrimp - peeled and deveined</p>
          </li>
        </ol>
      </div>
    </div>
    <h3 id="garlickyAppetizerShrimpScampi-heading14" style="color:#2E2E2E;font-weight:400;">Directions</h3>
    <div>
      <br>
      <hr>
      <br>
    </div>
    <ion-list id="garlickyAppetizerShrimpScampi-list9">
      <ion-item class="item-icon-right" id="garlickyAppetizerShrimpScampi-list-item21">Prep 15 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="garlickyAppetizerShrimpScampi-list-item32">Cook 6 m
        <i class="icon ion-clock"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="garlickyAppetizerShrimpScampi-list-item33">Ready In 21 m
        <i class="icon ion-clock"></i>
      </ion-item>
    </ion-list>
    <br>
    <div id="garlickyAppetizerShrimpScampi-markdown14" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p style="color:#000000;">Preheat grill for high heat.</p>
        </li>
        <li>
          <p style="color:#000000;">In a large bowl, mix together softened butter, olive oil, garlic, shallots, chives, salt, pepper, and paprika; add the shrimp, and toss to coat.</p>
        </li>
        <li>
          <p style="color:#000000;">Lightly oil grill grate. Cook the shrimp as close to the flame as possible for 2 to 3 minutes per side, or until opaque.</p>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>